#nav-bar{
    padding: 10px;
    background-image: linear-gradient(to right, rgb(150, 255, 238) , rgb(240, 175, 222), skyblue);
    position: relative;
}
#nav-bar a{
    color: white;
    font-size: large;
    text-shadow: black;
}
#right-bar{
    position: absolute;
    right:20px;
}

.content{
    padding: 50px;
    position: relative;
}
.content .card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content h2{
    text-align: center;
}

#login-box{
    width: 30%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
}
.form-group{
    margin: 30px;   
}
#login-button{
    text-align: center;
}

#register-link{
    text-align: center;
    margin-top: 30px;
}
#register-box{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner-image{
    width: 100%;
    margin: -20% 0% 0% 0%;
    border: white solid 1px;
}
#banner-shop{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner-shop img{
    width: 100%;
    margin: -20% 0% 0% 0%;
}
#slogan{
    position: absolute;
    bottom: 0;
    left: 30px;
    color: whitesmoke;
    padding: 20px;
    border-left: turquoise solid 5px;
    border-bottom: turquoise solid 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 30px   ;
}

#add-cart-alert{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 70%;
}

.product{
    width: 100%;
    background-color: mintcream;
}
#add-cart-btn{
    border: turquoise solid 5px;
    border-radius: 20px;
    width: 150px;
    margin-right: 10px;
}
#reviews .list-group-item{
    margin: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border: turquoise solid 1px;
}

#categories .nav-item{
    color: darkturquoise;
    padding: 10px;
}

#items{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.item{
    width: 23%;
    height: 500px;
    font-weight: bold;
    color: gray;
    text-align: center;
    border: gray solid 0.5px;
    margin: 10px;
}
.item .photo{
   height: 300px;
   overflow: hidden;
}
.item img{
    width: 100%;
}
.item button{
    border: turquoise solid 5px;
    border-radius: 20px;
}
.price-tag{
    color: turquoise;
}

.inner-body-shop{
    padding: 30px;
    padding-top: 10px;
}
.inner-body-shop .nav{
    margin-left: 5%;
    position: relative;
}
.inner-body-shop .nav-item:hover{
    background-color: rgb(185, 248, 242);
}
.inner-body-shop .nav-item img{
    margin-top: 20px;
}

#filter{
    position: absolute;
    left: 30px;
    overflow: visible;
}
.offcanvas-title, .offcanvas-body{
    margin-left: 20px;
    margin-bottom: 30px;
}
.offcanvas form{
    height: 100%;
}
#filter-apply{
    bottom: 30px;
}

#services .card-body{
    text-align: center;
    color: lightslategrey;
}
#services .card{
    padding: 15px;
}
#services img{
    height: 200px;
}

#write_post{
    padding: 50px;
}
#post-button{
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
}
.head-image{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.head-image img{
    margin: -20% 0% 0% 0%; ;
}

.author{
    text-align: right;
}

#booking{
    padding: 50px;
    color: rgb(30, 164, 168);
    margin-bottom: 100px;
}
#booking form{
    padding: 50px;
    border: cadetblue dashed 2px;
    border-radius: 10px;
}
#reverse-button{
    text-align: center;
}
#date-row{
    margin: 50px;
    margin-top: 10px;
}

#contact h3{
    padding: 30px;
}
#contact ul{
    padding: 30px;
}
#contact li{
    padding: 30px;
    font-size: large;
}

#social{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
}
.social{
    margin-left: 50px;
    margin-right: 50px;
}

#choose-location select{
    padding: 5px; 
    outline: none;
    width: 20%;
    background-color: white;
    margin: 10px;
    border: none;
    color: turquoise;
    border-left: turquoise solid 1px;
    font-size: large;
}
#choose-location form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: turquoise;
}

#profile-div{
    border: none;
}
#profile-div .card{
    height: 100%;
}
#profile-div .col-md-3 img{
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#profile-div #up_pic{
    text-align: center;
    color: darkturquoise;
    text-decoration: underline;
}
#profile-div .col-md-3{
    background-color:mintcream;
    height: 100vh;
}
#profile-div #profile-btn{
    display: flex;
    flex-wrap: wrap;
}
#profile-div button{
    width: 19.5%;
    border: turquoise solid 2px;
    background-color: white;
    padding: 10px;
    color: darkturquoise;
    margin: 2px;
}
#profile-div .card{
    border: none;
}
#profile-div #personal-info{
    border-left: rgb(241, 185, 234)  solid 3px;
    padding: 20px;
    margin-left: 10px;
}
.review-btn{
    padding: 5px !important;
    width: fit-content !important;
    border-radius: 5px;
}
td{
    vertical-align: middle;
}

#cart-element button:not(.btn-proceed){
    padding: 0px;
    border: turquoise solid 0.5px;
    border-radius: 10px;
    margin: -2px;    
}

#orders-element #order{
    background-color: mintcream;
}

#write-review{
    margin: 30px;
}
#reviews{
    margin-left: 60px;
    margin-right: 30px;
}
