{% extends 'layout.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block script %}<script src="{% static 'javascripts/anonymous_cart.js' %}"></script>{% endblock %}
{% block style %}
<style>
    #anonymous-cart{
        padding: 50px;
    }

    #anonymous-cart button{
      padding-left: 10px;
      padding-right: 10px;
      background-color: mintcream;
      border: turquoise solid 0.5px;
      border-radius: 10px;
      margin: -2px;     
  }

    #anonymous-proceed{
        padding: 10px;
        width: 100%;
    }


</style>
{% endblock %}

{% block body %}
<div id="anonymous-cart">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit price</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody id="cart-list">
      </tbody>
    </table><br>
    <div style="text-align: right; margin-right: 50px;">
      <strong>Bill total:  $ <big id="cart-total" style="color: purple"></big></strong>
    </div>
    <br>
    <br>
    <button id="anonymous-proceed">
      <a href="{% url 'proceed_order' %}" class="btn-proceed">Proceed Order</a>
    </button>
  </div>
{% endblock %}