{% extends "layout.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block body %}
<div id="contact">
    <h3>For more infomation, please contact us</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email : velvet@email.com</li>
        <li class="list-group-item">Phone: +84 1234 567 890 </li>
        <li class="list-group-item">Direct contact at address: 10/15 Long Hai, District Long Dien, Ho Chi Minh City <br>
        From 8:00 to 20:00 <br><br><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15871.49332955489!2d80.24328315!3d6.01212505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1624446738482!5m2!1sen!2slk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></li>
    </ul>
      
</div>

{% endblock %}