{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block script %}
<script src="{% static 'javascripts/index.js' %}"></script>
{% endblock %}

{% block body %}
<div id="banner">
    <img src="{% static 'images/1.png' %}" alt="" id="banner-image">
</div>
<div class="content" id="posts">
    <h4>Importants</h4><br>
{% for post in posts %}

<div class="card" data-post="{{ post.id }}">

      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'view_post' post_id=post.id %}">{{post.title}}</a></h5>
        <p class="card-text" class="bottom"><small>{{post.time}}</small></p>
      </div>

</div>

{% endfor %}
  <a href="{% url 'view_posts' _type='important' %}" class="see-more">>> See more</a>
</div>

<div class="content" id="articles">
  <h4>Topics</h4><br>
  {% if user.is_authenticated %}
    <a href="{% url 'write_post' %}" class="btn btn-info" id="post-button">Write your story</a>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-info" id="post-button">Write your story</a>
  {% endif %}

{% for article in articles %}
<div class="card mb-2" data-post="{{ article.id }}">
  <div class="row g-0">
    <div class="col-md-2">
        <img src="{{article.head_image.url}}" alt="..." width="100%">
    </div>
    <div class="col-md-10">
      <div class="card-body">
          <h5 class="card-title"><a href="{% url 'view_post' post_id=article.id %}">{{ article.title }}</a></h5>
        <p class="card-text">{{ article.user.username }}</p>
        <p class="card-text" class="bottom"><small>Updated {{ article.time }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  <a href="{% url 'view_posts' _type='normal' %}" class="see-more">>> See more</a>
</div>
{% endblock %}